.submit {
  font-family: "Roboto Mono";
  background-color: #9b5094; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 14rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.submit:hover {
  background-color: #863c7f;
  cursor: pointer;
}

.noresize {
  resize: none;
}

.input-box {
  padding: 0.5rem;
  width: 34rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.chip {
  margin: 0 0.5rem !important;
}
